
<div class= "row">
<% @users.each do |user| %>
	<div class="col-md-6">
		<div class="well profiles">
		<center>
					  	<p><%= image_tag user.avatar.url, class: "show_user img-circle" %></p>
					  	<p><strong><%= link_to user.name, show_user_path(id: user.id) %></strong> @<%= user.username %></p>
					  	<p>Location: <strong><%= user.location %></strong></p>
					  	<p>About: <%= user.bio %></p>
					  	<p><%= link_to "Following:",following_path(id: user.id) %> <strong> <%= user.following.length %></strong></p>
					  	<p><strong><%= link_to "Followers",followers_path(id: user.id) %>: <%= total_followers(user.id) %></strong></p>
							<p><strong><%= link_to "Tweets", show_user_path(id: user.id) %> : <%= total_tweets(user.id) %></strong></p> 
				 

				  	<p>
					    <% if current_user.following.include?(user.id) %>
					        <%= link_to "Following", unfollow_path(id: user.id), class: "btn btn-primary unfollow_btn" %>
					    <% else %>
					        <% if current_user.id != user.id %>
						    <%= link_to "Follow", now_following_path(id: user.id), class: "btn btn-primary" %>

						    
								<% end %>
					    <% end %>
						</p>
			</center>
				 </div>
			</div>
		<% end %>
	</div>			  	